.app
  h1 Restaurant Selector
  .add_block
    input(type="text" placeholder="Add your favorite restaurants...")
    .add_btn +
  .list
    ul
  .pick_btn Pick A Restaurant !    
  .fill_stock
    h2 
.footer © 2017  powered by Wei