doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    title Restaurant Selector
    link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i")
    link(rel="stylesheet prefetch", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/index.css")
  body
    .app
      h1 Restaurant Selector
      .add_block
        input(type="text" placeholder="Add your favorite restaurants...")
        .add_btn +
      .list
        ul
      .pick_btn Pick A Restaurant !    
      .fill_stock
        h2 
    .footer © 2017  powered by Wei
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="js/index.js")